# build
build --strategy=Scalac=worker
build --extra_toolchains=//:global_toolchain
build --strict_proto_deps=off
build --experimental_multi_threaded_digest=true

# this flag makes Bazel keep the analysis cache when test flags such as 'test_arg' (and other 'test_xxx' flags) change
build --trim_test_configuration=true

# the following flags serve tests but associated with the build command in order to avoid mutual analysis cache
# invalidation between test commands and build commands (see https://github.com/bazelbuild/bazel/issues/7450)
build --test_env=DISPLAY
build --test_env=LC_ALL=en_US.UTF-8

# test
test --test_tmpdir=/tmp
test --test_output=errors
test --test_arg=--jvm_flags=-Dcom.google.testing.junit.runner.shouldInstallTestSecurityManager=false
